.btn-view-all {
    background-color: #6aa84f;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s;
    border: 1px solid #6aa84f;
}

.btn-view-all:hover {
    background-color: #ffffff;
    color: #6aa84f;
}

.category-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.category-content {
    position: relative;
    z-index: 2;
}

.category-list li {
    font-size: 15px;
    color: #666;
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
}

.category-card {
    position: relative;
    padding: 30px 30px 30px 30px;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    transition: .3s;
}

.category-img {
    position: absolute;
    bottom:0px;
    right:0px ;
    
    z-index: 1;
}

.category-img img {
    width: 100%;
    display: block;
    margin-bottom: 0;
}