.touch-tittle h1{
    font-size: 3.5rem !important;
    font-weight: 600;
}

form input{
    margin-bottom: 15px;
    padding: 15px !important;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #eeeeee !important;
}
.user-message textarea{
    width: 100%;
    height: 150px;
    padding: 15px !important;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #eeeeee !important;
    margin-bottom: 15px;
}
form button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #699c47;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.support-info {
    border: #eeeeee 1px solid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    
    align-content: end;

}
.input-box{
   width: 100%;
   margin-right: 50px;
}
.contact-icons{
    color: #699c47;
    font-size: 22px;
}
.support-info p{
    margin-left: 28px;
}