

.navbar-brand img{
  height: 48px;
  
}
.dropdown-toggle{
  color: black !important;
  font-weight: 500 !important;
  padding: 25px 0px !important;

}
.dropdown-toggle::after {
  content: "";
  display: none !important;

  
  
/* 
  width: 6px;
  height: 6px;
  margin-left: 6px;

  border-right: 1.8px solid #222002;
  

  transform: rotate(deg) translateY(-1px); */
}
.dropdown-menu {
  
  padding: 15px 0; 
  margin-top: 3px !important; 
  transition: all 4s ease;
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}




.dropdown-item {
  color: #000000 !important;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 24px; 
  transition: all 0.3s ease;
  
}


.dropdown-item:hover {
  background-color: none; 
  padding-left: 28px;
  color: #6aa84f !important;
 
}
.search-box {
  width: 220px;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.icon-box {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.02);
}

.icon-box i {
  font-size: 18px;
}

.icon-box .badge {
  position: absolute;
  top: -5px;
  left: 30px;
  background: #6aa84f;
  color: #fff;
  font-size: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

.navbar-nav .nav-link {
  position: relative;
  padding-bottom: 6px;
}

.navbar-nav .nav-item:hover .nav-link {
  color: #6aa84f !important;
  
}
.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 3px;
  background: #6aa84f;
  transition: width 0.3s ease;
}

/* hover effect */
/* .navbar-nav .nav-link:hover::before {
  width: 100%;
} */
.navbar-nav .nav-item:hover .nav-link::before {
  width: 100%;
 
}


.nav-item:hover .dropdown-icon {
  transform: rotate(180deg); 
  color: #6aa84f;
}
.dropdown-icon {
  font-size: 17px;
  
  transition: transform 0.3s ease;
}

.navbar{
  margin: 0px !important;
  background-color: #f8f8f8 !important ;
}
.navbar-nav{
  margin-left: 6% ;
  margin-right: 4%;
  display: flex;
  gap: 55px;
  margin: auto;
}
.search-box input{
  border: none;
  background-color: white !important;
  height: 55px;
  max-width: 100%;

 
 

}
.search-box{
  width: 381px;
  background-color: white !important;
  padding: 0px 50px 0px 20px ;
  margin-right: 25px;
  max-width: 100%;
  
  
  border-radius: 50px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.02);


}



.main-header-wrapper {
    width: 100%;
    z-index: 1030;
    background-color: #fff; 
    transition: all 0.3s ease;
}


.main-header-wrapper.sticky-active {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08); 
    animation: slideDown 0.35s ease-out; 
}


.main-header-wrapper.sticky-active .mobile-search-container {
     background-color: #fff;
}

/* @keyframes slideDown {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0);
    }
} */









/*  navbar visibility */
.navbar-collapse {
  display: none;
}

.navbar-collapse.show {
  display: flex;
}
.navbar .dropdown-menu {
  display: none;
}


.navbar .dropdown {
  position: relative;
}
@media (max-width:1400px) {
  .navbar-nav{
    gap: 45px;
  }
}

@media (max-width:1365px) {
  .search-box {
    width: 300px !important; 
    padding: 0 40px 0 20px !important;
    margin-right: 15px !important;
    max-width: 100%;
  }
}
@media (max-width:1273px) {
  .search-box {
    width: 250px !important; 

  }
}

@media (max-width:1224px) {
  .search-box {
    width: 220px !important; 

  }
  .navbar-nav{
    gap: 38px;
  }


 
}
@media (max-width:1144px){
  .navbar-nav{
    gap: 25px;
    
  }
  .search-box {
    width: 200px !important; 
    

  }
}
@media (max-width:1059px){
  .navbar-nav{
    gap:15px;
    margin-right: 15px;
    
  }
  .search-box {
    width: 180px !important; 
    margin-right: 0px !important;

  }
  .navbar-brand img {
    height: 45px; 

  }
}




@media (max-width: 576px) {
  
  .search-box {
    width: 100% !important;
    margin-right: 0 !important;
    padding: 0 40px 0 20px !important;
    
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  .search-box input {
    width: 100% !important;
    
  }
}


@media (min-width: 576px) and (max-width: 991px) {
  .search-box {
    width: 400px !important; 
    padding: 0 35px 0 15px !important;
    margin-right: 10px !important;
    max-width: 100%;
  }
  
  .navbar-brand img {
    height: 45px; 
  }
}
@media (max-width:738px){
  .search-box{
    width: 310px !important;
  }
}

@media (max-width:648px){
  .search-box{
    width: 235px !important;
  }
}

@media(max-width:328px){
  .navbar-brand img{
    height: 35px;
  }
  .icon-box i {
  font-size: 13px;
}
.icon-box{
  width: 40px;
  height: 40px;
}
.navbar-toggler{
  font-size: 10px !important;

}
.search-box input{
  height: 40px;
 
}
.search-box input::placeholder{
  font-size: 14px;
 
}
.icon-box .badge {
  width: 15px;
  height: 15px;
  top: -2px;
  right: -2px;
  font-size: 9px;
}
}



@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
  }
    .navbar .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}



@media (max-width: 991px) {
  .navbar-collapse {
    background: #f8f8f8;
    padding: 20px;
  }

  .navbar-nav {
    margin: 0 !important;
    gap: 0 !important;
  }

  .nav-item {
    width: 100%;
  }

  .dropdown-menu {
    display: none;
    position: static;
    box-shadow: none;
    padding-left: 15px;
  }

  .nav-item.open .dropdown-menu {
    display: block;
  }

  .dropdown-toggle {
    padding: 12px 0 !important;
  }

  .search-box {
    width: 100%;
    margin: 15px 0;
  }
}