

.category-card {
  padding: 25px;
  border-radius: 15px;
  min-height: 280px;
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  
}
.category-card .btn{
    color: #6aa84f !important;
    outline: 1px solid #6aa84f !important;
    width: 100px;
}
.category-card .btn:hover{
    color: white !important;
    background-color: #6aa84f;
}


.bg-meat {
  background-image: url("../images/banner-imgs/bnr-imgs/product-banner-01.jpg");
}

.bg-veg {
  background-image: url("../images/banner-imgs/bnr-imgs/product-banner-02.jpg");
}

.bg-fruits {
  background-image: url("../images/banner-imgs/bnr-imgs/product-banner-03.jpg");
}
