.features-section {
    margin-top: 60px;
    z-index: 10;

}

/* .features-wrapper {
    
   
} */

.icon-wrapper {
    width: 60px;
    height: 60px;
    background-color: #f8f8f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.3s ease;
}

.feature-icon {
    font-size: 24px;
    color: #1a1a1a;
    stroke-width: 1.5;
}


.feature-item:hover .icon-wrapper {
    background-color: #6aa84f;
    color: white;
}

.feature-item:hover .feature-icon {
    color: white;
}


.feature-title {
    font-weight: 700;
    color: #1a1a1a;
    font-size: 20px;
    cursor: pointer;
}

.feature-title:hover {
    color: #6aa84f;

}

.feature-desc {
    color: #888;
    font-size: 16px;
}

@media (min-width: 1200px) {
    .col-xl-3:not(:last-child) .feature-item {
        border-right: 1px solid #eeeeee;
        padding-right: 20px;
    }
}