
.active-tab {
  color: #000000 !important;
}
.nav-link:hover {
  color: #333 !important;
}

.nav-link:focus {
  box-shadow: none;
}

.trending-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e5e5e5; 
    background-color: #fff;
    color: #1a1a1a; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.trending-btn:hover {
    border-color: #000;
    background-color: #f9f9f9;
    color: #000;
}
.trending-btn i {
    font-size: 14px;
}